    html {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
    
    body {
        margin: 0 auto;
        width: 750px;
    }
    
    .head {
        background-color: #2d7053;
        height: 235px;
        margin: 0px;
    }
    
    .hed1 {
        background-color: #ffffff;
        border-radius: 50%;
        height: 141px;
        width: 141px;
        display: inline-block;
        float: left;
        margin: 50px 0px 0px 50px;
    }
    
    .hed2 {
        display: inline-block;
        height: 134px;
        width: 131px;
        float: left;
        color: #ffffff;
        margin: 50px 0px 0px 50px;
    }
    
    .hed3 {
        float: right;
        margin: 70px 50px;
        display: inline-block;
    }
    
    .line {
        border-style: solid;
        width: 70px;
        height: 4px;
        margin: 10px;
        border-radius: 10px;
        background-color: #ffffff;
        color: #ffffff
    }
    
    .center {
        background-image: url("../img/0325115cfca2f08bd19529e1d4a4396a@1X.png");
        height: 466px;
        background-repeat: no-repeat;
    }
    
    .center1 {
        padding-top: 350px;
        text-align: center;
    }
    
    .center1 a {
        width: 340px;
        height: 50px;
        font-size: 27px;
        background-color: #cb9223;
        display: inline-block;
        color: #f5ebde;
        text-decoration: none;
        padding: 20px 25px 0px 25px;
    }
    
    .foto {
        height: 247px;
        width: 247px;
        background-image: url("../img/154-9254@1X.png");
        border-radius: 50%;
        margin: 50px 0px 50px 20px;
        float: left;
    }
    
    .name {
        height: 27px;
        width: 210px;
        display: inline-block;
        float: right;
        margin: 110px 170px 0px 0px;
    }
    
    .name1 {
        height: 50px;
        width: 245px;
        display: inline-block;
        font-size: 20px;
        margin: 20px 50px 0px 100px;
    }
    
    .text {
        text-align: left;
        margin: 150px 20px 40px 10px;
        font-size: 23px;
    }
    
    .text1 {
        text-align: left;
        margin: 0px 20px 40px 10px;
    }
    
    .text2 {
        text-align: left;
        font-size: 23px;
    }
    
    .rec {
        height: 74px;
        width: 341px;
        background-color: #cb9223;
        margin: 50px 200px 50px 200px;
    }
    
    .rec a {
        text-decoration: none;
        color: #f5ebde;
        padding-top: 25px;
        padding-left: 25px;
        font-size: 23px;
        display: inline-block;
    }
    
    .bottom {
        height: 155px;
        width: 750px;
        background-color: #888888;
        display: inline-block;
        margin: 0px;
    }
    
    .bottom1 {
        background-color: #ffffff;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        float: left;
        margin-top: 29px;
        margin-left: 45px;
        display: inline-block;
    }
    
    .address {
        color: #ffffff;
        font-size: 16px;
        display: inline-block;
        margin-top: 60px;
        margin-left: 130px;
    }
    
    .tel {
        margin-top: 30px;
        margin-right: 44px;
        float: right;
        display: inline-block;
    }
    
    .tel a {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
    }
    
    .mail {
        float: right;
        margin-bottom: 50px;
        margin-right: 44px;
        display: inline-block;
    }
    
    .mail a {
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
    }